# 游빛 Limpieza y An치lisis de Datos con Pandas

Este notebook trabaja con el archivo `order_details.csv`.

### 칈ndice:
1. Carga de datos y exploraci칩n inicial

2. Limpieza y preparaci칩n de datos  
   2.1 Uni칩n de dos DataFrames (`merge`)  
   2.2 Detecci칩n y manejo de valores nulos (NaN)  
   2.3 Eliminaci칩n de duplicados  
   2.4 Conversi칩n de tipos de datos (`astype`)  
   2.5 Eliminaci칩n de columnas vac칤as

3. An치lisis exploratorio  
    3.1 Estad칤sticas globales  
    3.2 Distribuci칩n por pizza  
    3.3 An치lisis por pedido  

4. Uso de NumPy para an치lisis auxiliar

5. Guardar el dataset limpio

6. Mini an치lisis final

# 1. Importaci칩n y exploraci칩n inicial

In [40]:
import pandas as pd

# Cargar el CSV (ajusta la ruta si lo tienes en otra carpeta)
df = pd.read_csv("order_details.csv")

# Vista r치pida de las primeras filas
display(df.head(10))
print("--------------------------------------------------------------------------")
# Informaci칩n general de columnas y tipos
df.info()
print("--------------------------------------------------------------------------")
# Estad칤sticas b치sicas (incluyendo texto)
display(df.describe(include='all'))

   order_details_id  order_id       pizza_id  quantity
0                 1         1     hawaiian_m         1
1                 2         2  classic_dlx_m         1
2                 3         2  five_cheese_l         1
3                 4         2    ital_supr_l         1
4                 5         2     mexicana_m         1
5                 6         2     thai_ckn_l         1
6                 7         3    ital_supr_m         1
7                 8         3   prsc_argla_l         1
8                 9         4    ital_supr_m         1
9                10         5    ital_supr_m         1

--------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48620 entries, 0 to 48619
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_details_id  48620 non-null  int64
 1   order_id          48620 non-null  int64
 2   pizza_id          48620 non-null  object
 3   quantity          48620 non-null  int64
dtypes: int64(3), object(1)
memory usage: 1.5+ MB
--------------------------------------------------------------------------

        order_details_id      order_id    pizza_id      quantity
count       48620.000000  48620.000000       48620  48620.000000
unique               NaN           NaN          91           NaN
top                  NaN           NaN  big_meat_s           NaN
freq                 NaN           NaN        1811           NaN
mean        24310.500000  10701.479761         NaN      1.019622
std         14035.529381   6180.119770         NaN      0.143077
min             1.000000      1.000000         NaN      1.000000
25%         12155.750000   5337.000000         NaN      1.000000
50%         24310.500000  10682.500000         NaN      1.000000
75%         36465.250000  16100.000000         NaN      1.000000
max         48620.000000  21350.000000         NaN      4.000000

# 2. Limpieza y preparaci칩n de datos

## 2.1 Uni칩n de dos dataframes con la funcion (`merge`)

In [50]:
# Importacion del segundo dataframe
df2 = pd.read_csv("pizzas.csv")

# Union de los 2 dataframes
df_merged = df.merge(df2, how="inner", on="pizza_id")

# Vista r치pida de las primeras filas
display(df_merged.head(10))
print("--------------------------------------------------------------------------")

print(df_merged.max())
print("--------------------------------------------------------------------------")
# Informaci칩n general de columnas y tipos
df_merged.info()
print("--------------------------------------------------------------------------")
# Estad칤sticas b치sicas (incluyendo texto)
display(df_merged.describe(include='all'))

,order_details_id,order_id,pizza_id,quantity,pizza_type_id,size,price
0,1,1,hawaiian_m,1,hawaiian,M,13.25
1,2,2,classic_dlx_m,1,classic_dlx,M,16.00
2,3,2,five_cheese_l,1,five_cheese,L,18.50
3,4,2,ital_supr_l,1,ital_supr,L,20.75
4,5,2,mexicana_m,1,mexicana,M,16.00
5,6,2,thai_ckn_l,1,thai_ckn,L,20.75
6,7,3,ital_supr_m,1,ital_supr,M,16.50
7,8,3,prsc_argla_l,1,prsc_argla,L,20.75
8,9,4,ital_supr_m,1,ital_supr,M,16.50
9,10,5,ital_supr_m,1,ital_supr,M,16.50

--------------------------------------------------------------------------
order_details_id           48620
order_id                   21350
pizza_id            veggie_veg_s
quantity                       4
pizza_type_id         veggie_veg
size                         XXL
price                      35.95
dtype: object
--------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48620 entries, 0 to 48619
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_details_id  48620 non-null  int64
 1   order_id          48620 non-null  int64
 2   pizza_id          48620 non-null  object
 3   quantity          48620 non-null  int64
 4   pizza_type_id     48620 non-null  object
 5   size              48620 non-null  object
 6   price             48620 non-null  float64
dtypes: float64(1), int64(3), object(3)
memory usage: 2.6+ MB
--------------------------------------------------------------------------

,order_details_id,order_id,pizza_id,quantity,pizza_type_id,size,price
count,48620.000000,48620.000000,48620,48620.000000,48620,48620,48620.000000
unique,NaN,NaN,91,NaN,32,5,NaN
top,NaN,NaN,big_meat_s,NaN,classic_dlx,L,NaN
freq,NaN,NaN,1811,NaN,2416,18526,NaN
mean,24310.500000,10701.479761,NaN,1.019622,NaN,NaN,16.494132
std,14035.529381,6180.119770,NaN,0.143077,NaN,NaN,3.621789
min,1.000000,1.000000,NaN,1.000000,NaN,NaN,9.750000
25%,12155.750000,5337.000000,NaN,1.000000,NaN,NaN,12.750000
50%,24310.500000,10682.500000,NaN,1.000000,NaN,NaN,16.500000
75%,36465.250000,16100.000000,NaN,1.000000,NaN,NaN,20.250000
max,48620.000000,21350.000000,NaN,4.000000,NaN,NaN,35.950000

## 2.2 Detecci칩n y manejo de valores nulos (NaN)

In [42]:
# Conteo de valores nulos por columna
print("Valores nulos por columna:")
print(df_merged.isna().sum())
print("--------------------------------------------------------------------------")
# Eliminar filas que no tienen order_id, pizza_id y quantity (esenciales para an치lisis)
df_merged.dropna(subset=['order_id', 'pizza_id', 'quantity'], inplace=True)

print('\nDespu칠s de limpieza de NaN:')
print(df_merged.isna().sum())
print("--------------------------------------------------------------------------")

display(df_merged.head(10))

Valores nulos por columna:
order_details_id    0
order_id            0
pizza_id            0
quantity            0
pizza_type_id       0
size                0
price               0
dtype: int64
--------------------------------------------------------------------------

Despu칠s de limpieza de NaN:
order_details_id    0
order_id            0
pizza_id            0
quantity            0
pizza_type_id       0
size                0
price               0
dtype: int64
--------------------------------------------------------------------------

,order_details_id,order_id,pizza_id,quantity,pizza_type_id,size,price
0,1,1,hawaiian_m,1,hawaiian,M,13.25
1,2,2,classic_dlx_m,1,classic_dlx,M,16.00
2,3,2,five_cheese_l,1,five_cheese,L,18.50
3,4,2,ital_supr_l,1,ital_supr,L,20.75
4,5,2,mexicana_m,1,mexicana,M,16.00
5,6,2,thai_ckn_l,1,thai_ckn,L,20.75
6,7,3,ital_supr_m,1,ital_supr,M,16.50
7,8,3,prsc_argla_l,1,prsc_argla,L,20.75
8,9,4,ital_supr_m,1,ital_supr,M,16.50
9,10,5,ital_supr_m,1,ital_supr,M,16.50

## 2.3 Eliminaci칩n de duplicados

In [ ]:
# Detectar filas duplicadas completas
duplicados = df_merged[df_merged.duplicated()]
print("Filas duplicadas detectadas:")
display(duplicados)
print("--------------------------------------------------------------------------")

# Eliminar duplicados
df_merged.drop_duplicates(inplace=True)

print("Tama침o tras eliminar duplicados:", df_merged.shape)

Filas duplicadas detectadas:

Empty DataFrame
Columns: [order_details_id, order_id, pizza_id, quantity]
Index: []

--------------------------------------------------------------------------
Tama침o tras eliminar duplicados: (48620, 4)

## 2.4 Conversi칩n de tipos de datos (`astype`)

In [47]:
print("Tipos ANTES:")
print(df_merged.dtypes)
print("--------------------------------------------------------------------------")

# Convertir columnas num칠ricas que puedan venir como texto
df_merged['quantity'] = df_merged['quantity'].astype(int)
df_merged['price'] = df_merged['price'].astype(float)

print("\nTipos DESPU칄S:")
print(df_merged.dtypes)
print("--------------------------------------------------------------------------")

display(df_merged.head(10))

Tipos ANTES:
order_details_id      int64
order_id              int64
pizza_id             object
quantity              int64
pizza_type_id        object
size                 object
price               float64
dtype: object
--------------------------------------------------------------------------

Tipos DESPU칄S:
order_details_id      int64
order_id              int64
pizza_id             object
quantity              int64
pizza_type_id        object
size                 object
price               float64
dtype: object
--------------------------------------------------------------------------

,order_details_id,order_id,pizza_id,quantity,pizza_type_id,size,price
0,1,1,hawaiian_m,1,hawaiian,M,13.25
1,2,2,classic_dlx_m,1,classic_dlx,M,16.00
2,3,2,five_cheese_l,1,five_cheese,L,18.50
3,4,2,ital_supr_l,1,ital_supr,L,20.75
4,5,2,mexicana_m,1,mexicana,M,16.00
5,6,2,thai_ckn_l,1,thai_ckn,L,20.75
6,7,3,ital_supr_m,1,ital_supr,M,16.50
7,8,3,prsc_argla_l,1,prsc_argla,L,20.75
8,9,4,ital_supr_m,1,ital_supr,M,16.50
9,10,5,ital_supr_m,1,ital_supr,M,16.50

## 2.5 Eliminaci칩n de columnas vac칤as

In [48]:
# Eliminamos columnas que est칠n completamente vac칤as
df_merged.dropna(axis=1, how='all', inplace=True)

print("Columnas actuales del DataFrame:")
print(df_merged.columns.tolist())

Columnas actuales del DataFrame:
['order_details_id', 'order_id', 'pizza_id', 'quantity', 'pizza_type_id', 'size', 'price']

# 3. An치lisis exploratorio

## 3.1

## 7. Limpieza y normalizaci칩n de texto (`.str` en Pandas)

In [6]:
# Normalizar nombres de apps:
# - quitar espacios en blanco
# - poner la primera letra en may칰scula de cada palabra
# - eliminar espacios internos (Instagram  -> Instagram, 'YouTube Music' -> 'Youtubemusic')
df['app_name'] = (
    df['app_name']
      .astype(str)
      .str.strip()
      .str.title()
      .str.replace(' ', '', regex=False)
)

display(df[['app_name']].head(10))

# Buscar todas las filas que contienen "Youtube"
youtube_rows = df[df['app_name'].str.contains('Youtube', case=False, na=False)]
print("Filas con Youtube:")
display(youtube_rows)

KeyError: 'app_name'

## 7. M칠todos extra de cadena (`str.len`, `str.startswith`, etc.)

In [ ]:
# Longitud del nombre de la app
df['app_name_len'] = df['app_name'].str.len()

# Apps que empiezan por 'Y'
apps_y = df[df['app_name'].str.startswith('Y', na=False)]

print("Apps que empiezan por 'Y':")
display(apps_y[['app_name', 'app_name_len']].drop_duplicates())

display(df[['app_name', 'app_name_len']].head())

Apps que empiezan por 'Y':

        app_name  app_name_len
2        Youtube             7
12  YoutubeMusic            12
13   YoutubeKids            11

    app_name  app_name_len
0  Instagram             9
1   Whatsapp             8
2    Youtube             7
3   Telegram             8
4  Instagram             9

## 8. Detecci칩n de tipos mezclados en columnas

In [ ]:
print("Tipos actuales:")
print(df.dtypes)

print("\nTipo real de cada celda en las primeras filas:")
display(df.applymap(type).head())

# Convertir autom치ticamente al tipo m치s adecuado (opcional)
df = df.convert_dtypes()

print("\nTipos tras convert_dtypes():")
print(df.dtypes)

Tipos actuales:
user_id                      int64
app_name                    object
screen_time(min)           float64
notifications                int64
date                datetime64[ns]
app_name_len                 int64
dtype: object

Tipo real de cada celda en las primeras filas:

C:\Users\Joan Ye\AppData\Local\Temp\ipykernel_16808\3036341170.py:5: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  display(df.applymap(type).head())

,user_id,app_name,screen_time(min),notifications,date,app_name_len
0,<class 'int'>,<class 'str'>,<class 'float'>,<class 'int'>,<class 'pandas._libs.tslibs.timestamps.Timesta...,<class 'int'>
1,<class 'int'>,<class 'str'>,<class 'float'>,<class 'int'>,<class 'pandas._libs.tslibs.timestamps.Timesta...,<class 'int'>
2,<class 'int'>,<class 'str'>,<class 'float'>,<class 'int'>,<class 'pandas._libs.tslibs.nattype.NaTType'>,<class 'int'>
3,<class 'int'>,<class 'str'>,<class 'float'>,<class 'int'>,<class 'pandas._libs.tslibs.nattype.NaTType'>,<class 'int'>
4,<class 'int'>,<class 'str'>,<class 'float'>,<class 'int'>,<class 'pandas._libs.tslibs.timestamps.Timesta...,<class 'int'>

Tipos tras convert_dtypes():
user_id                      Int64
app_name            string[python]
screen_time(min)             Int64
notifications                Int64
date                datetime64[ns]
app_name_len                 Int64
dtype: object

## 9. Guardar el dataset limpio

In [ ]:
df_merged.to_csv('order_details_clean.csv', index=False)
print('Archivo order_details_clean.csv guardado correctamente.')

Archivo screentime_analysis_clean.csv guardado correctamente.

## 10. Mini an치lisis final por aplicaci칩n

In [ ]:
# 쯈u칠 apps tienen m치s tiempo medio de pantalla?
screen_time_media = (
    df.groupby('app_name')['screen_time(min)']
      .mean()
      .sort_values(ascending=False)
)

print("Tiempo medio de pantalla (min) por app:")
display(screen_time_media)

# 쯈u칠 apps generan m치s notificaciones?
notif_media = (
    df.groupby('app_name')['notifications']
      .mean()
      .sort_values(ascending=False)
)

print("Notificaciones medias por app:")
display(notif_media)

Tiempo medio de pantalla (min) por app:

app_name
YouTube Music    130.0
YouTube          120.0
Netflix          110.0
Tik tok          100.0
YouTube Kids      95.0
WhatsApp          80.0
  WhatsApp        80.0
Telegram          60.0
Calendar Pro      50.0
 instagram        30.0
Instagram         22.5
TikTok             0.0
Name: screen_time(min), dtype: float64

Notificaciones medias por app:

app_name
  WhatsApp       15.0
Instagram        12.0
Tik tok          12.0
YouTube Music     9.0
WhatsApp          8.0
YouTube           8.0
YouTube Kids      7.0
 instagram        6.0
Netflix           6.0
Telegram          5.0
Calendar Pro      3.0
TikTok            0.0
Name: notifications, dtype: float64