# 游빛 Limpieza y An치lisis de Datos con Pandas
Este notebook trabaja con el archivo `order_details.csv`.

---

## 칈ndice

### **1. Carga de datos y exploraci칩n inicial**

### **2. Limpieza y preparaci칩n de datos**
- **2.1** Uni칩n de DataFrames (`merge`)
- **2.2** Manejo de valores nulos (NaN)
- **2.3** Eliminaci칩n de duplicados
- **2.4** Conversi칩n de tipos (`astype`)
- **2.5** Eliminaci칩n de columnas vac칤as

### **3. An치lisis exploratorio**

#### 3.1 Estad칤sticas globales
- **3.1.1** N칰mero de registros de detalle  
- **3.1.2** Cantidad total de pizzas (`sum(quantity)`)  
- **3.1.3** Cantidad promedio por pedido  

#### 3.2 Distribuci칩n por pizza
- **3.2.1** Agrupar por `pizza_id` para calcular:  
  - Total vendido  
  - N칰mero de pedidos en los que aparece  
- **3.2.3** Pizzas m치s y menos populares  

#### 3.3 An치lisis por pedido
- **3.3.1** Agrupar por `order_id` para calcular:  
  - Total de pizzas por pedido  
  - N칰mero de l칤neas de detalle  
- **3.3.2** Distribuci칩n del tama침o de los pedidos  

### **4. Uso de NumPy**
- **4.1** Percentiles de cantidad total (`np.percentile`)  
- **4.2** Histogramas o distribuciones  

### **5. Preguntas clave**
- **5.1** Pizza m치s y menos vendida  
- **5.2** Promedio y mediana por pedido  
- **5.3** Porcentaje de pedidos por tama침o  
- **5.4** Pedidos an칩malos (percentiles)  
- **5.5** C칩mo calcular el valor estimado del pedido  

### **6. Guardar el dataset limpio**

### **7. Mini an치lisis final**

# 1. Importaci칩n y exploraci칩n inicial

In [16]:
import pandas as pd

# Cargar el CSV (ajusta la ruta si lo tienes en otra carpeta)
df = pd.read_csv("order_details.csv")

# Vista r치pida de las primeras filas
display(df.head(10))
print("--------------------------------------------------------------------------")
# Informaci칩n general de columnas y tipos
df.info()
print("--------------------------------------------------------------------------")
# Estad칤sticas b치sicas (incluyendo texto)
display(df.describe(include='all'))

   order_details_id  order_id       pizza_id  quantity
0                 1         1     hawaiian_m         1
1                 2         2  classic_dlx_m         1
2                 3         2  five_cheese_l         1
3                 4         2    ital_supr_l         1
4                 5         2     mexicana_m         1
5                 6         2     thai_ckn_l         1
6                 7         3    ital_supr_m         1
7                 8         3   prsc_argla_l         1
8                 9         4    ital_supr_m         1
9                10         5    ital_supr_m         1

--------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48620 entries, 0 to 48619
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_details_id  48620 non-null  int64
 1   order_id          48620 non-null  int64
 2   pizza_id          48620 non-null  object
 3   quantity          48620 non-null  int64
dtypes: int64(3), object(1)
memory usage: 1.5+ MB
--------------------------------------------------------------------------

        order_details_id      order_id    pizza_id      quantity
count       48620.000000  48620.000000       48620  48620.000000
unique               NaN           NaN          91           NaN
top                  NaN           NaN  big_meat_s           NaN
freq                 NaN           NaN        1811           NaN
mean        24310.500000  10701.479761         NaN      1.019622
std         14035.529381   6180.119770         NaN      0.143077
min             1.000000      1.000000         NaN      1.000000
25%         12155.750000   5337.000000         NaN      1.000000
50%         24310.500000  10682.500000         NaN      1.000000
75%         36465.250000  16100.000000         NaN      1.000000
max         48620.000000  21350.000000         NaN      4.000000

# 2. Limpieza y preparaci칩n de datos

## 2.1 Uni칩n de dos dataframes con la funcion (`merge`)

In [17]:
# Importacion del segundo dataframe
df2 = pd.read_csv("pizzas.csv")

# Union de los 2 dataframes
df_merged = df.merge(df2, how="inner", on="pizza_id")

# Vista r치pida de las primeras filas
display(df_merged.head(10))
print("--------------------------------------------------------------------------")

print(df_merged.max())
print("--------------------------------------------------------------------------")
# Informaci칩n general de columnas y tipos
df_merged.info()
print("--------------------------------------------------------------------------")
# Estad칤sticas b치sicas (incluyendo texto)
display(df_merged.describe(include='all'))

,order_details_id,order_id,pizza_id,quantity,pizza_type_id,size,price
0,1,1,hawaiian_m,1,hawaiian,M,13.25
1,2,2,classic_dlx_m,1,classic_dlx,M,16.00
2,3,2,five_cheese_l,1,five_cheese,L,18.50
3,4,2,ital_supr_l,1,ital_supr,L,20.75
4,5,2,mexicana_m,1,mexicana,M,16.00
5,6,2,thai_ckn_l,1,thai_ckn,L,20.75
6,7,3,ital_supr_m,1,ital_supr,M,16.50
7,8,3,prsc_argla_l,1,prsc_argla,L,20.75
8,9,4,ital_supr_m,1,ital_supr,M,16.50
9,10,5,ital_supr_m,1,ital_supr,M,16.50

--------------------------------------------------------------------------
order_details_id           48620
order_id                   21350
pizza_id            veggie_veg_s
quantity                       4
pizza_type_id         veggie_veg
size                         XXL
price                      35.95
dtype: object
--------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48620 entries, 0 to 48619
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_details_id  48620 non-null  int64
 1   order_id          48620 non-null  int64
 2   pizza_id          48620 non-null  object
 3   quantity          48620 non-null  int64
 4   pizza_type_id     48620 non-null  object
 5   size              48620 non-null  object
 6   price             48620 non-null  float64
dtypes: float64(1), int64(3), object(3)
memory usage: 2.6+ MB
--------------------------------------------------------------------------

,order_details_id,order_id,pizza_id,quantity,pizza_type_id,size,price
count,48620.000000,48620.000000,48620,48620.000000,48620,48620,48620.000000
unique,NaN,NaN,91,NaN,32,5,NaN
top,NaN,NaN,big_meat_s,NaN,classic_dlx,L,NaN
freq,NaN,NaN,1811,NaN,2416,18526,NaN
mean,24310.500000,10701.479761,NaN,1.019622,NaN,NaN,16.494132
std,14035.529381,6180.119770,NaN,0.143077,NaN,NaN,3.621789
min,1.000000,1.000000,NaN,1.000000,NaN,NaN,9.750000
25%,12155.750000,5337.000000,NaN,1.000000,NaN,NaN,12.750000
50%,24310.500000,10682.500000,NaN,1.000000,NaN,NaN,16.500000
75%,36465.250000,16100.000000,NaN,1.000000,NaN,NaN,20.250000
max,48620.000000,21350.000000,NaN,4.000000,NaN,NaN,35.950000

## 2.2 Detecci칩n y manejo de valores nulos (NaN)

In [18]:
# Conteo de valores nulos por columna
print("Valores nulos por columna:")
print(df_merged.isna().sum())
print("--------------------------------------------------------------------------")
# Eliminar filas que no tienen order_id, pizza_id y quantity (esenciales para an치lisis)
df_merged.dropna(subset=['order_id', 'pizza_id', 'quantity'], inplace=True)

print('\nDespu칠s de limpieza de NaN:')
print(df_merged.isna().sum())
print("--------------------------------------------------------------------------")

display(df_merged.head(10))

Valores nulos por columna:
order_details_id    0
order_id            0
pizza_id            0
quantity            0
pizza_type_id       0
size                0
price               0
dtype: int64
--------------------------------------------------------------------------

Despu칠s de limpieza de NaN:
order_details_id    0
order_id            0
pizza_id            0
quantity            0
pizza_type_id       0
size                0
price               0
dtype: int64
--------------------------------------------------------------------------

,order_details_id,order_id,pizza_id,quantity,pizza_type_id,size,price
0,1,1,hawaiian_m,1,hawaiian,M,13.25
1,2,2,classic_dlx_m,1,classic_dlx,M,16.00
2,3,2,five_cheese_l,1,five_cheese,L,18.50
3,4,2,ital_supr_l,1,ital_supr,L,20.75
4,5,2,mexicana_m,1,mexicana,M,16.00
5,6,2,thai_ckn_l,1,thai_ckn,L,20.75
6,7,3,ital_supr_m,1,ital_supr,M,16.50
7,8,3,prsc_argla_l,1,prsc_argla,L,20.75
8,9,4,ital_supr_m,1,ital_supr,M,16.50
9,10,5,ital_supr_m,1,ital_supr,M,16.50

## 2.3 Eliminaci칩n de duplicados

In [19]:
# Detectar filas duplicadas completas
duplicados = df_merged[df_merged.duplicated()]
print("Filas duplicadas detectadas:")
display(duplicados)
print("--------------------------------------------------------------------------")

# Eliminar duplicados
df_merged.drop_duplicates(inplace=True)

print("Tama침o tras eliminar duplicados:", df_merged.shape)

Filas duplicadas detectadas:

Empty DataFrame
Columns: [order_details_id, order_id, pizza_id, quantity, pizza_type_id, size, price]
Index: []

--------------------------------------------------------------------------
Tama침o tras eliminar duplicados: (48620, 7)

## 2.4 Conversi칩n de tipos de datos (`astype`)

In [20]:
print("Tipos ANTES:")
print(df_merged.dtypes)
print("--------------------------------------------------------------------------")

# Convertir columnas num칠ricas que puedan venir como texto
df_merged['quantity'] = df_merged['quantity'].astype(int)
df_merged['price'] = df_merged['price'].astype(float)

print("\nTipos DESPU칄S:")
print(df_merged.dtypes)
print("--------------------------------------------------------------------------")

display(df_merged.head(10))

Tipos ANTES:
order_details_id      int64
order_id              int64
pizza_id             object
quantity              int64
pizza_type_id        object
size                 object
price               float64
dtype: object
--------------------------------------------------------------------------

Tipos DESPU칄S:
order_details_id      int64
order_id              int64
pizza_id             object
quantity              int64
pizza_type_id        object
size                 object
price               float64
dtype: object
--------------------------------------------------------------------------

,order_details_id,order_id,pizza_id,quantity,pizza_type_id,size,price
0,1,1,hawaiian_m,1,hawaiian,M,13.25
1,2,2,classic_dlx_m,1,classic_dlx,M,16.00
2,3,2,five_cheese_l,1,five_cheese,L,18.50
3,4,2,ital_supr_l,1,ital_supr,L,20.75
4,5,2,mexicana_m,1,mexicana,M,16.00
5,6,2,thai_ckn_l,1,thai_ckn,L,20.75
6,7,3,ital_supr_m,1,ital_supr,M,16.50
7,8,3,prsc_argla_l,1,prsc_argla,L,20.75
8,9,4,ital_supr_m,1,ital_supr,M,16.50
9,10,5,ital_supr_m,1,ital_supr,M,16.50

## 2.5 Eliminaci칩n de columnas vac칤as

In [21]:
# Eliminamos columnas que est칠n completamente vac칤as
print("Columnas del DataFrame antes de la eliminacion de columnas vacias:")
print(df_merged.columns.tolist())
df_merged.dropna(axis=1, how='all', inplace=True)

print("\nColumnas del DataFrame despues de la eliminacion de columnas vacias:")
print(df_merged.columns.tolist())

Columnas del DataFrame antes de la eliminacion de columnas vacias:
['order_details_id', 'order_id', 'pizza_id', 'quantity', 'pizza_type_id', 'size', 'price']

Columnas del DataFrame despues de la eliminacion de columnas vacias:
['order_details_id', 'order_id', 'pizza_id', 'quantity', 'pizza_type_id', 'size', 'price']

# 3. An치lisis exploratorio

## 3.1 Estad칤sticas globales

### 3.1.1 Calcular cu치ntos registros de detalle de pedido hay

In [22]:
print(df_merged.max)

<bound method DataFrame.max of        order_details_id  order_id       pizza_id  quantity pizza_type_id size  \
0                     1         1     hawaiian_m         1      hawaiian    M
1                     2         2  classic_dlx_m         1   classic_dlx    M
2                     3         2  five_cheese_l         1   five_cheese    L
3                     4         2    ital_supr_l         1     ital_supr    L
4                     5         2     mexicana_m         1      mexicana    M
...                 ...       ...            ...       ...           ...  ...
48615             48616     21348  ckn_alfredo_m         1   ckn_alfredo    M
48616             48617     21348  four_cheese_l         1   four_cheese    L
48617             48618     21348   napolitana_s         1    napolitana    S
48618             48619     21349     mexicana_l         1      mexicana    L
48619             48620     21350      bbq_ckn_s         1       bbq_ckn    S

       price
0      13.25
1      16.00
2      18.50
3      20.75
4      16.00
...      ...
48615  16.75
48616  17.95
48617  12.00
48618  20.25
48619  12.75

[48620 rows x 7 columns]>

### 3.1.2 Calcular la cantidad total de pizzas (sum(quantity))

In [23]:
df_total_pizzas = df_merged['quantity'].sum()
print(f"Cantidad total de pizzas vendidas: {df_total_pizzas}")

Cantidad total de pizzas vendidas: 49574

### 3.1.3 Calcular la cantidad promedio de pizzas por pedido

In [ ]:
df_total_pedidos = df_merged['order_id'].nunique()
df_promedio_pizzas = df_total_pizzas / df_total_pedidos  

print(f"N칰mero de pedidos 칰nicos: {df_total_pedidos}")
print(f"Promedio de pizzas por pedido: {df_promedio_pizzas:.2f}")

N칰mero de pedidos 칰nicos: 21350
Promedio de pizzas por pedido: 2.32

## 3.2 Distribuci칩n por pizza

### 3.2.1 Agrupar por pizza_id para calcular:

#### 췅 la cantidad total vendida (sum(quantity))

#### 췅 la cantidad de pedidos en los que aparece (count(order_id) o nunique(order_id))

### 3.2.2 Identificar las pizzas m치s populares (m치s cantidad vendida) y menos populares.

## 3.3 An치lisis por pedido

### 3.3.1 Agrupar por order_id para calcular:

#### 췅 cantidad total de pizzas en cada pedido (sum(quantity))

In [25]:
#TODO

#### 췅 n칰mero de l칤neas de detalle en cada pedido (count(order_details_id))

### 3.3.2 Verificar distribuci칩n de tama침o de los pedidos (por ejemplo: 쯖u치ntos pedidos tienen 1 pizza, m치s de 2, m치s de 3?)

# 4 Uso de NumPy para an치lisis auxiliar

## 4.1 Usar np.percentile para calcular percentiles de la cantidad total de pizzas por pedido

## 4.2 Crear histogramas o distribuciones para ver qu칠 tan frecuente son pedidos grandes vs. peque침os

In [26]:
#TODO

# 5. Preguntas

## 5.1 쮺u치l es la pizza (pizza_id) m치s vendida en cuanto a cantidad y cu치l la menos vendida?

## 5.2 쮺u치l es la cantidad promedio de pizzas por pedido? 쯏 la mediana?

## 5.3 쯈u칠 porcentaje de los pedidos tienen solo 1 pizza? 쯏 m치s de 2 pizzas?

## 5.4 쮼xisten pedidos que destaquen por tener una cantidad muy alta de pizzas? Identif칤calos usando percentiles.

In [27]:
#TODO

## 5.5 Si tuvieras los datos de precio de cada pizza, 쯖칩mo calcular칤as el valor estimado de cada pedido y c칩mo variar칤an los resultados anteriores?

In [28]:
#TODO

## 6. Guardar el dataset limpio

In [29]:
df_merged.to_csv('order_details_clean.csv', index=False)
print('Archivo order_details_clean.csv guardado correctamente.')

Archivo order_details_clean.csv guardado correctamente.

## 7. Mini an치lisis final por aplicaci칩n

In [30]:
# 쯈u칠 apps tienen m치s tiempo medio de pantalla?
screen_time_media = (
    df.groupby('app_name')['screen_time(min)']
      .mean()
      .sort_values(ascending=False)
)

print("Tiempo medio de pantalla (min) por app:")
display(screen_time_media)

# 쯈u칠 apps generan m치s notificaciones?
notif_media = (
    df.groupby('app_name')['notifications']
      .mean()
      .sort_values(ascending=False)
)

print("Notificaciones medias por app:")
display(notif_media)

KeyError: 'app_name'